*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face{
  font-family: 'berthold';
  src:url(../fonts/BertholdScript.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'champagne';
  src:url(../fonts/ChampagneLimousines.ttf);
  font-weight: normal;
  font-style: normal;
}

.mediaquery{color: red; position: fixed; z-index: 999999 !important;
position:fixed;
  width:60px;
  height:60px;
  bottom:1rem;
  left:1rem;}

html, body {
    height:100%;
}
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  position: relative;
  overflow-y: auto;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #394A55;
} 
h1{
  font-family: 'berthold', cursive;
  font-size: 4rem !important;
  color: #fff !important;
}
h2{
  font-size: 1rem !important;
  color: white;
  /*text-transform: uppercase;*/
  kerning: 2rem !important;
  font-family: 'champagne', sans-serif;
}
h3{
  font-family: 'berthold', cursive;
  font-size: 3.5rem !important;
  color: #932f24 !important;
}
h5{
  font-family: 'berthold', cursive;
  font-size: 2.5rem !important;
  color: #932f24 !important;
}
nav a.navbar-brand{
  font-family: 'berthold', cursive;
  font-size: 1.5rem !important;
  color: black;
}
header{
    background-image: url(../images/bgmain.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    color: white;
}
header img{width: 60%;}
@media only screen and  (min-width: 767.98px) { 
  header img{width: 40% !important;}
  h1{font-size: 4.5rem !important;}
  h2{font-size: 1.1rem !important;} }
@media only screen and  (min-width: 991.98px) { 
  header img{width: 30% !important;}
  h1{font-size: 4.5rem !important;}
  h2{font-size: 1.1rem !important;} }
@media only screen and  (min-width: 1199.98px) { 
  header img{width: 25% !important;}
  h1{font-size: 4.5rem !important;}
  h2{font-size: 1.1rem !important;} }
@media only screen and  (min-width: 1399.98px) { 
  header img{width: 25% !important;}
  h1{font-size: 5rem !important;}
  h2{font-size: 1.3rem !important;} }
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)*/
  display: flex;
  align-items: center;
}
.btn-primary {
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #F7B5A4 !important;
    --bs-btn-border-color: #F7B5A4 !important;
    --bs-btn-hover-color: #000 !important;
    --bs-btn-hover-bg: #FFD6CC !important;
    --bs-btn-hover-border-color: #FFD6CC;
    --bs-btn-focus-shadow-rgb: 255,214,204 !important;
    --bs-btn-active-color: #000 !important;
    --bs-btn-active-bg: #FFD6CC !important;
    --bs-btn-active-border-color: #FFD6CC !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(255,214,204, 0.125) !important;
    outline: #F7B5A4 1px solid ;
}
.card-body{border:#bfd4cc !important;}
.card-footer {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    color: var(--bs-card-cap-color);
    background-color: #F7B5A4 !important;
    border-top: #bfd4cc solid var(--bs-card-border-color) !important;
}
.btn-closedown {
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #bfd4cc !important;
    --bs-btn-border-color: #bfd4cc !important;
    --bs-btn-hover-color: #000 !important;
    --bs-btn-hover-bg: #90B5A7 !important;
    --bs-btn-hover-border-color: #90B5A7;
    --bs-btn-focus-shadow-rgb: 144,181,167;
    --bs-btn-active-color: #000 !important;
    --bs-btn-active-bg: #90B5A7 !important;
    --bs-btn-active-border-color: #90B5A7 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(144,181,167, 0.125) !important;
}
#galeria img{border: #BCD3CE solid .4rem;}
#contacto{
  font-size: .9rem;
  background: #F7B5A4;
  color:#394A55;
}
#contacto p span{
  padding-left: .2rem;
}
#contacto i{ width:.9rem; padding-bottom:.1rem; }
#contacto a, #contacto a i{ color:#394A55; text-decoration: none;}
.map{ border:#90B5A7 .2rem solid; border-radius: .5rem;}

footer p{font-size: .8rem;}

.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:1rem;
  right:1rem;
  /*background-color:#25d366;*/
  background: rgb(4,54,6);
  background: -moz-radial-gradient(circle, rgba(4,54,6,1) 0%, rgba(4,212,112,1) 0%, rgba(4,135,39,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(4,54,6,1) 0%, rgba(4,212,112,1) 0%, rgba(4,135,39,1) 100%);
  background: radial-gradient(circle, rgba(4,54,6,1) 0%, rgba(4,212,112,1) 0%, rgba(4,135,39,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#043606",endColorstr="#048727",GradientType=1);
  color:#FFF !important;
  border-radius:50px;
  text-align:center;
  font-size:2.3rem;
  box-shadow: 0px 0px 5px 2px rgba(5,84,12,0.75);
-webkit-box-shadow: 0px 0px 5px 2px rgba(5,84,12,0.75);
-moz-box-shadow: 0px 0px 5px 2px rgba(5,84,12,0.75);
  z-index:100;
}
.float:hover{
  box-shadow: 0px 0px 5px 0px rgba(5,84,12,0.75);
-webkit-box-shadow: 0px 0px 5px 0px rgba(5,84,12,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(5,84,12,0.75);
}

.my-float{
  margin-top:16px;
}


/*--------- MODAL --------*/
.modal span{font-size: .8rem}
.modal .event-txt{text-align: justify;}
.modal-title{
  font-family: 'berthold', cursive;
  font-size: 3rem !important;
  color: grey;
}
.modal-header{border: none !important}